/* @import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300); */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.blog-text,
.service img,
.group img{
    -webkit-animation: glow 2s infinite;
    -moz-animation: glow 2s infinite;
    -o-animation: glow 2s infinite;
    animation: glow 2s infinite;
}
@keyframes glow {
    0% {
        -webkit-box-shadow: 0 0 4px #f2ff00;
    }
    50% {
        -webkit-box-shadow: 0 0 20px #f2ff00;
    }
    100% {
        -webkit-box-shadow: 0 0 4px #f2ff00;
    }
}